.destaquesConjunto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin: 10px 0px 10px 0px;
  border-radius: 20px;

  width: 100%;
  max-height: 800px;
  overflow: auto;

  background-color: #ffffff;
  font-family: "Mulish", sans-serif;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.destaquesConjunto::-webkit-scrollbar {
  width: 6px;
}

.destaquesConjunto::-webkit-scrollbar-thumb {
  background-color: #18af46;
  border-radius: 10px;
}

.destaqueProduto {
  display: flex;
  flex-direction: column;

  width: 300px;
  height: 350px;

  border-radius: 10px;
  margin: 10px;
  padding: 10px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, background-color 0.2s ease-in-out;
}

.destaqueProduto__conteudo {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.destaqueProduto img {
  width: 100%;
  height: 150px;

  object-fit: cover;
  border-radius: 5px;

  background-position: center center;
}

.destaqueProduto:hover {
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.destaqueProduto__nome {
  font-weight: bold;

  font-size: 20px;
  color: #083718;
  font-weight: 500;
  margin: 5px 0;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  max-height: 3.6em;
}

.destaqueProduto__descricao {
  color: #9fa2b4;
  font-size: 15px !important;
  padding: 0px;
  margin: 0px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  max-height: 3.6em;
}

.destaqueProduto__preco {
  color: #083718;

  font-size: 23px;
  font-weight: bold;

  padding: 0px;
  margin: 10px 0px 0px 0px;
}

.destaqueProduto__custo,
.destaqueProduto__venda {
  color: #9fa2b4;
  font-size: 15px !important;
  padding: 0px;
  margin: 0px;
}

.destaqueProduto__custo {
  color: #3745c1;
}

.destaqueProduto__venda {
  font-size: 18px;
  color: #54b00c;
}

.destaqueProduto__acoes {
  display: flex;
  margin-top: 10px;
  align-content: center;
  justify-content: flex-end;
}

.button {
  width: 100px;
  height: 35px;

  border: none;
  border-radius: 15px;
  cursor: pointer;

  background-color: #18af46;
  color: white;
}

.button:hover {
  background-color: #0b6822;
  transition: box-shadow 0.3s ease-in-out, background-color 0.2s ease-in-out;
}

.loading {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #54b00c 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #54b00c);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
