.card-container {
  width: 270px;
  height: 100px;

  padding: 10px 20px;
  border-radius: 20px;

  display: flex;
  align-items: center;
  flex-direction: row;

  background-color: #ffffff;
  font-family: "Mulish", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content__text {
  display: flex;
  flex-direction: column;
}

.card-container.commun > div > p {
  color: #a3aed0;

  padding: 0px;
  margin: 0px 0px 10px 0px;
}

.card-container.commun > div > h2 {
  color: #083718;

  padding: 0px;
  margin: 0px;
}
