.card-container {
  border-radius: 20px;
  background-color: #ffffff;
  width: 270px;
  height: 100px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  font-family: "Mulish", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container-secondary {
  background-image: linear-gradient(to bottom right, #4caf50, #1e693b);
  width: 270px;
  height: 100px;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  font-family: "Mulish", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container-third {
  width: 600px;
  height: 450px;
  border-radius: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  font-family: "Mulish", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container-forth {

  display: flex;
  flex-direction: column;

  width: 570px;
  height: 190px;
  border-radius: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  font-family: "Mulish", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container-secondary > div > p {
  color: #e9edf7;
}
.card-container-third > div > p {
  color: #252733;
  font-size: 20px;
  font-weight: 700;
}

.card-container-third > div > h3 {
  color: #9fa2b4;
  font-size: 12px;
}

.cardGroupContainer {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 1rem 0;
}

.cardGroup {
  display: grid;
  grid-template-columns: repeat(2, 270px);
  gap: 30px;
}

.cardContentTitle {
  color: #a3aed0;
}
.cardContentValor {
  font-weight: bold;
  font-size: 26px;
}
.priorityCard__container{
  display: flex;
  width: 100%;
  flex-direction: column;

  & h3{
    font-size: 14px;
    font-weight: semibold;
    color: #252733;

  }
}

.priorityCard__subtitle-container{
  display: flex;
  justify-content: space-between;
  width: 420px;
}

.priorityCard{
  display: flex;
justify-content: space-between;
align-items: center;
}

.priorityCard__tags{

}