.dashboardlayout {
  width: 100%;
}

.cardGroupContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cardGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.inferior__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 768px) {
  .cardGroupContainer,
  .cardGroup {
    flex-direction: column;
  }

  .inferior__container {
    flex-direction: column;
  }
}
