.dashboardlayout {
  width: 100%;
}

.firstGroupContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.rightComponents {
  display: flex;
  flex-direction: column;
  width: 34%;
  gap: 10px;
}

.salesGroup {
  width: 65%;
}

.cardGroup {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  gap: 10px;
}

.secondGroupContainer {
  display: flex;
  flex-direction: row;

  margin-top: 20px;
  gap: 10px;
}

@media (max-width: 768px) {
  .firstGroupContainer,
  .cardGroup {
    flex-direction: column;
  }

  .secondGroupContainer {
    flex-direction: column;
  }
}

@media (max-width: 1130px) {
  .cardGroup {
    justify-content: space-between;
  }

  .rightComponents {
    width: 100%;
  }

  .salesGroup {
    width: 100%;
  }
}
