.dashboardlayout {
  width: 100%;
}

.cardGroupContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.rightComponents {
  display: flex;
  flex-direction: column;
  width: 34%;
  gap: 10px;
}

.salesGroup {
  width: 65%;
}

.cardGroup {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  gap: 10px;
}

.inferior__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 768px) {
  .cardGroupContainer,
  .cardGroup {
    flex-direction: column;
  }

  .inferior__container {
    flex-direction: column;
  }
}
