.custom-sidebar {
  background-color: #273733;
  width: 15%; /* Largura da sidebar */
  display: flex; /* Exibe os itens em linha */
  flex-direction: column;
  color: white; /* Cor do texto */
  z-index: 1000; /* Garante que a sidebar fique acima de outros conteúdos */
  box-shadow: 4px 0 5px -2px rgba(0, 0, 0, 0.2); /* S]mbra para destacar a sidebar */
  position: fixed;
  height: 100%;
}

.container-loginFields-logo {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.p-menuitem-link {
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
  margin-right: auto;
  padding: 10px 60px;
}

.backgroundMenuSidebar {
  width: 100%;
  margin-left: 25px;
  border: none;
  font-family: "Mulish", sans-serif;
  color: #a4a6b3;
  padding: 8px;
}

.backgroundMenuSidebar:hover {
  width: 85%;
  background-color: #31403d;
  transition: all 0.5s;
  color: #fff;
  border-radius: 10px;
}

.backgroundMenuSidebar__items {
  display: flex;
  align-items: center;
  gap: 12px;
}