.fornecedoresContainer {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f5f5f5;
  }
  
  .fornecedoresContainer h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .fornecedoresContainer h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .fornecedoresList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .fornecedorItem {
    display: flex;
    flex-direction: column;
    border: 1px solid #4caf50;
    padding: 20px;
    border-radius: 8px;
  }
  
  .fornecedorItem h3 {
    margin: 0 0 10px 0;
  }
  
  .fornecedorDetails {
    display: flex;
    justify-content: space-between;
  }
  
  .fornecedorDetails span,
  .fornecedorDetails button {
    color: #4caf50;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .fornecedorDetails button:hover {
    text-decoration: underline;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 90%;
  }
  
  .modal h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .modal p {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .modal input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .modalButtons button {
    display: inline-block;
    width: calc(50% - 10px);
    padding: 10px;
    margin: 10px 5px 0 0;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .modalButtons button:hover {
    background-color: #45a049;
  }
  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  