@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@30;400;500;600;700&display=swap");

@import "primereact/resources/themes/saga-green/theme.css";
@import "primereact/resources/primereact.min.css";

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;


  font-family: "Lexend", sans-serif;
}
