@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@30;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@30;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@30;400;500;600;700&display=swap");

@import "primereact/resources/themes/saga-green/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
}

.dashboardContainer {
  display: flex;
  flex-direction: row;
}

.dashboardContent {
  flex: 1;
  margin: 15px;
  transition: margin-left 0.3s ease;
}

.dashboardContent.open {
  margin-left: 15%;
}

.dashboardContent.closed {
  margin-left: 85px;
}
