.imagemProduto {
  display: flex;
  gap: 30px;
  width: 100%;
}

.imagemProduto__container{
  display: flex;
  flex-direction: column;
}

.imagemProduto__containerBtn{
  display: flex;
  align-items: end;
  height: 100%;
}

.imagemProduto__containerBtn > Button{
  width: 100%;
}

.botoes{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.infoProduto {
  display: flex;
  gap: 15rem;

  font-weight: 700;
  color: #000;
  line-height: 1rem;
  font-size: 18px;
}

.formProduto{
  margin-top: 30px;
}

.tituloLucroInputs{
  display: flex;
  gap: 10px;
  width: 100%;
}

#titulo{
  width: 550px;
}

.inputEAN{
  display: flex;
  gap: 10px;
  margin-top: 0px;
}

.inputEAN{
  margin-bottom: 2rem;
  margin-top: 10px;
}

.input{
  margin: 15px 0;  
}

.input, .inputEAN, label{
  font-size: 18px;
  font-weight: 700;
}

.dropdown{
  width: 100%;
}

.checkboxGroup{
  display: flex;
  justify-content: space-between;
}

.checkbox{
  width: 200px;
  text-align: center;
}