.imagemProduto {
  display: flex;
  gap: 30px;
  width: 100%;
}

.imagemProduto__container{
  display: flex;
  flex-direction: column;
  background-image: url("../../public/assets/images/imagemproduto.png");
  background-repeat: no-repeat;
  background-position:inherit;
  background-size:auto; 
}

.imagemProduto__containerBtn{
  display: flex;
  align-items: end;
  height: 100%;
}

.imagemProduto__containerBtn > Button{
  width: 100%;
  
}

.botoes{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.infoProduto {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: #000;
  line-height: 1rem;
  font-size: 18px;
  
}

.formProduto{
  margin-top: 30px;
}

.tituloLucroInputs{
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}

#titulo{
  width: 550px;
}

.inputEAN{
  display: flex;
  gap: 10px;
  margin-top: 0px;
}

.inputEAN{
  margin-bottom: 2rem;
  margin-top: 10px;
}

.input{
  margin: 15px 0;  
}

.input, .inputEAN, label{
  font-size: 18px;
  font-weight: 700;
}

.dropdowncategoria{
  width: 100%;
  margin-bottom: 15px;
}

.checkboxGroup{
  display: flex;
  justify-content: space-between;
}

.checkbox{
  width: 200px;
  text-align: center;
}

.descriptionInput{
  margin-top: 4rem;
}

.btnEAN{
  margin-top: 0px;

}	

.eaninput{
  margin-top: 0px;
  margin-left: 0px;
}

.preco{
  display: flex;
  gap: 10px;
  width: 422px;
}


.sku{
  display: flex;
  gap: 10px;
  width: 422px;
  margin-bottom: px;
  margin-top: -10px;
  margin-bottom: 35px;
}


.bling img {
  border: #1dc20e;
  width: 180px; 
  height: auto; 
  margin-left: 0px;
}


.imagemUrl{
  margin-top: 17px;
}