.loginFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 3rem;
}

.loginFields h1 {
  color: #000;
  font-size: 3rem;
  margin-bottom: 20px;
}

.inputField {
  height: 3rem;
  width: 30rem;
  border-radius: 10px;
}

.labelField {
  font-size: 1rem;
  color: #ffffff;
}

.loginButton {
  color: #fff;
  padding: 15px;
  width: 479px;
  font-size: 24px;
  border-radius: 5px;
  font-weight: 700;
}

.forgotPassword {
  color: #ffffff;
  font-size: 1rem;
  padding: 20px;
  cursor: pointer;
  background: #4d2b2b00;
    color: #ffffff;
    border-color: #449e48;
    border: 1px solid #4caf50;  
    padding: 0.5rem 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.forgotPassword:hover {
  color: rgb(255, 255, 255);
  transition: all 0.3s;
}

.glassCard {
  background: rgba(212, 212, 212, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2; 
  border-radius: 10px;
  margin: 0 50%;
  width: 100%;
  color: white;
  padding: 0 160px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.container-loginFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.container-loginFields h1 {
  color: #24667a;
  font-size: 3rem;
  margin-top: 10px;
  text-shadow: #000 1px 1px 1px;
}

.container-loginFields-logo {
  text-align: center;
  width: 100%;
}

.loginContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.backgroundPage:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.backgroundEscolhaUser {
  background-image: url("../../../public/assets/images/backgroundlogin2.webp");
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.botaoregistrar{
  background-color: #4d2b2b00;
}

.auxiliarButtons{
  display: flex;
  width: 100%;
  justify-content: space-between;
}