
.email{
    width: 100%; 
    padding:  20px; 
    margin: 10px auto 20px auto; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.senha input{ 
    width: 100%;
    margin: 10px auto; 
    padding:  20px; 
}

.p-dialog-title {
    text-align: center; 
    font-size: 24px; 
    color: #333; 
    margin-bottom: 20px; 
}

.p-dialog {
    background-color: #b60e0e; 
    border-radius: 16px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 500px; 
}


.emailbox {
    width: 100%; 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 0px; 
    border-radius: 4px; 
    margin-top: 20px;
}

.senhabox {
    width: 100%;
    margin-top: 10px;
}

.p-dialog-content{
    margin-top: -30px;
    border-radius: 10px;

}

.p-dropdown-label{
    width: 50%;
}

.registrar {
    display: block;
    width: 90%;
    padding: 15px 0;
    margin: 20px auto;
    background-color: #365d4c; 
    color: white;
    border: none;
    border-radius: 2px; 
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    font-weight: 500; 
    text-transform: uppercase; 
    cursor: pointer;
    transition: background-color 0.2s; 
    text-align: center; 
}

.registrar:hover {
    background-color: #52855d; 
}

.registrar:active {
    background-color: #52855d; 
}

.p-dropdown {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 55px; 
    background-color: white;
    font-size: 16px;
}


.dropdown:focus, .dropdown:hover {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.dropdown option {
    padding: 10px; 
    background-color: white; 
    color: black; 
}

.dropdown option:hover {
    background-color: #f0f0f0; 
}

.nameregistrar {
    background-color: #1f8a482c; 
    border-radius: 16px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 500px; 
    
}

.p-dialog-header{
    border-radius: 10px;
}

.inputfield {
    width: 100%; 
    padding: 20px; 
    margin: 10px auto 20px auto; 
    border: 1px solid #b10e0e; 
    border-radius: 4px; 
    font-size: 16px; 
}

.p-dialog .inputfield {
    margin-bottom: 20px; 
}

.p-float-label.cpfbox {

    margin-top: 25px;
}

.p-float-label.cnpjbox {

    margin-top: 25px;
}

.p-float-label.phonebox {

    margin-top: 25px;
}

.field-container.cnpjbox , .field-container.phonebox , .field-container.cpfbox {
    flex: 1; 
    margin-right: 10px; 
}

.field-container.phonebox {
    margin-right: 0; 
}

.cnpjbox , .phonebox , .cpfbox {
    width: 100%; 
    border-radius: 4px;}

.p-float-label .p-inputtext:focus {
    border-color: #24a835;
    box-shadow: 0 0 5px rgba(28, 153, 28, 0.5);
}

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-track {
    color: #24a835;
    background: #f0f0f0;
    border-radius: 4px; 
}

::-webkit-scrollbar-thumb {
    background: #083506; 
    border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}






