
.email, .senha {
    width: 100%; 
    
    padding:  10px; 
    margin: 10px auto 20px auto; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}




.p-dialog-title {
    text-align: center; 
    font-size: 24px; 
    color: #333; 
    margin-bottom: 20px; 
}

.p-dialog {
    background-color: #b60e0e; 
    border-radius: 16px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 500px; 
    
}


.emailbox {
   
    width: 100%; 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 0px; 
    border-radius: 4px; 
    margin-top: 20px;
}

.senhabox {
    margin-top: 15px;
}

.p-dialog-content{
    margin-top: -30px
}

.p-dropdown-label{
    width: 50%;
}




.registrar {
    display: block;
    width: 90%;
    padding: 15px 0;
    margin: 20px auto;
    background-color: #365d4c; 
    color: white;
    border: none;
    border-radius: 2px; 
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    font-weight: 500; 
    text-transform: uppercase; 
    cursor: pointer;
    transition: background-color 0.2s; 
    text-align: center; 
}

.registrar:hover {
    background-color: #52855d; 
}

.registrar:active {
    background-color: #52855d; 
}



.dropdown {


    padding: 12px 16px;
    margin: 0 auto 10px auto; 
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px 16px;
    appearance: none;
    cursor: pointer;
    margin-top: 15px;
}


.dropdown:focus, .dropdown:hover {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.dropdown option {
    padding: 10px; 
    background-color: white; 
    color: black; 
}

.dropdown option:hover {
    background-color: #f0f0f0; 
}



.nameregistrar {
    background-color: #1f8a482c; 
    border-radius: 16px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 500px; 
    
}





